numpy~=1.26.4
pandas~=2.3.1
matplotlib~=3.10.0
seaborn~=0.13.2
requests~=2.32.4
opencv-python
tqdm~=4.67.1
lxml
plotly~=6.0.1
ipywidgets
ipykernel
jupyterlab>=3.0.0
setuptools~=78.1.1
xgboost
wandb
scikit-learn~=1.7.1
ipython~=9.1.0
pillow~=11.3.0
scipy~=1.16.0
catboost
termcolor
feature-engine
dotenv